<div class="login-container">
    <div class="login-form">
        <h2 class="login-title">Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
            <div class="form-group">
                <label for="usuario" class="form-label">Ingrese Usuario</label>
                <input [(ngModel)]="usuario" name="usuario" type="text" id="usuario" class="form-input"
                    placeholder="usuario" required />
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Ingrese Contraseña</label>
                <input [(ngModel)]="password" name="password" type="password" id="password" class="form-input"
                    required />
            </div>

            <button type="submit" class="login-button">Login</button>
        </form>
        @if (error) {
        <div class="error-message">{{error}}</div>
        }
    </div>
</div>